
.separator {
	height: 20px;
}

#terms_of_use_container {
  height: 450px;
  overflow: scroll;
}

.catalogContainer {
	min-height: 800px;
}

.thumbnails {
  overflow: hidden;
  margin: 1em 0;
  padding: 0;
  text-align: center;
}

.thumbnails li {
  display: inline-block;
  width: 140px;
  margin: 0 5px;
}

.thumbnails img {
  display: block;
  min-width: 100%;
  max-width: 100%;
}


#footer {
   left:0px;
   bottom:0px;
   width:100%;
   background:#999;
}

/* IE 6 */
* html #footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

.minSize {
	min-height: 640px;
}

html, body {
    margin-top: 35px;
    position: relative;

}

